@font-face {
    font-family: 'barlow-reg';
    src: url(../../fonts/Barlow-Light.ttf);
}
.fotos-container{
    margin: 50px;
}
.fotogrilla{
    cursor: pointer;
    width: 100%;
}
.cover{
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.titulo-cover{
    font-family: 'barlow-reg';
    font-size: 30px;
}
.grilla-fotos{
margin: 50px;
}
.modal-image{
height: 700px;
}
.modal-close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 10px 29px 0px;
    color: white;
}
.modal-bk {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    z-index: 1;
  }
  .modal-cont {
    width: auto;
    height: 700px;
    /*    top: 50px; */
    background: #fff;
    position: relative;
    border-radius: 5px;
    margin: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .modal-image{
        height: 500px;
    }
    .modal-cont {
        height: 500px;
    }
    
  }
  @media screen and (min-width: 320px) and (max-width: 767px) {
    .modal-image{
        height: 250px;
    }
    .modal-cont {
        height: 250px;
    }
    
    
  }