@font-face {
    font-family: 'barlow-it';
    src: url(../../fonts/Barlow-Italic.ttf);
}

.sobremi-container{
    flex-direction: row;
    margin: 40px;
    display: flex;
    justify-content: space-around;
}
.sobremi-data{
    display: flex;
    flex-direction: column;
}
.fotoana{
    width:300px ;
    height: auto;
}
.sobremi-info{
    color: white;
    font-family: 'barlow-light';
    width: 50%;
    font-size: 20px;
    text-align: justify;
}
.informacion{
    line-height: 1.8;
}
.negrita{
    font-family: 'barlow-sb';
}
.cv{
    color: white;
    cursor: pointer;
    font-family: 'barlow-sb';
    margin-top: -2px;
}
.cv:hover{
    color:rgb(255, 100, 157);
}
.italica{
    font-family: 'barlow-it';
}
.container-sb{
    margin: 30px;
}
.sobremi-iconos{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.iconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.iconos-sb{
    color: white;
}
.iconos-sb:hover{
    color: rgb(255, 100, 157);
}
.forms-sb{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .fotoana{
        width: 200px;
    }
    .sobremi-info{
        font-size: 15px;
        width: 60%;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    .sobremi-container{
        flex-direction: column;
    }
    .sobremi-iconos{
        margin: 15px;
    }
    .container-sb{
        margin: 0;
    }
    .sobremi-info{
        width: 100%;
    }
    .forms-sb{
       display: contents;
       margin-top: 50px;
    }
}